@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&family=Kadwa:wght@700&display=swap');

body {
    margin: 0px;
    width: 100%;
}

/* Navigation bar */

#header {
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    height: 4.5rem;
    background-color:#fff;
    box-shadow: 4px 2px 8px ;
    z-index: 10;

}


#left-header {
    height: inherit;
}

 /* AMBU logo */
#left-header img {
    height: 4.75rem;
    margin-left: 4px;
    transition: 0.3s;
}

/* right Navbar */
.right-header{
    display: flex;
    justify-content: space-evenly;        
}

/* Navbar Options */
.right-header-element {
    margin-right: 2rem;
    margin: 1rem;
    padding: 1.5rem;
    font-weight: bold;
    font-size: 1.4rem;
    font-family: 'Jaldi',sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;            
}

/* Language */
.right-header-element select {
    border-radius: 0.5rem;
    padding: 3px 9px 3px 9px;
    box-shadow: 2px 2px 1px black;
    border: none;
    background-color: lightgrey;
    text-shadow: inherit;
}

.right-header-element abbr {
    text-decoration: none;
}

/* Profile icon */
.pic {
    height: 2.5rem; 
}
    
/* Body */
#content {
    display: flex;
    margin-top: 4.5rem;
    transition: 0.5s;
    justify-content: space-between;
    height: 105vh;
    width: 100vw;
    background-image: url(images/surgery-1822458_1280\ 1.png);
    background-size: cover;

}

/* Left Body */
.body-left {
    width: 100%;
    margin: 2rem;
    margin-top: 3rem;
}

/* AMBU */
.body-left h1 {      
    font-weight: bolder;
    font-size: 7rem;
    color: #f8eeee;
    line-height: 5rem;
    text-shadow: 2px 2px 2px rgb(207, 45, 45);    
}

/* Unified health care... */
.body-left p {
    font-size: 2.5rem;
    color: #f8eeee;
    line-height: 3rem;
    text-shadow: -2px 2px 2px black
}

/* Download button */
.body-left button {
    font-size: 2.3rem;
    margin-left: 1rem;
    padding: 10px;
    border-radius: 2rem;
    margin-top: 4vh;
} 

.body-left button .download-app {
    font-size: 2.3rem;
    color: #e85a4f;
    text-shadow: 2px 2px 2px black;                
}
.android img {
    width: 2.3rem;
}

/* Right Body */
.body-right {
    background-color: rgb(100, 227, 214, 0.8);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;        
}

/* Sign-up  */
.Signup {
    display: flex;
    justify-content: space-between;
}

.Signup-form{
    width: 100%;
    margin-left: 10%;
    align-items: center;
    margin-top: 2rem;  
    margin: 1rem;  
    font-family: 'Kadwa',serif;
}

.input-icons {
    width: 100%;
    margin-top:1.5rem;
}

.input-field {
    width: 60%;
    padding: 1rem;
    text-align: center;
    background-color: #d9d9d9;
    border: #d9d9d9;
    border-radius: 1rem;
    font-size: 1.1rem;
}
#fullname {
    background-image: url(images/\ icon\ _Identification_.png);
    background-repeat: no-repeat;
    background-position-x: 0.5rem;
    background-position-y: center;
}
#mobileno {
    background-image: url(images/\ icon\ _phone_.png);
    background-repeat: no-repeat;
    background-position-x: 0.5rem;
    background-position-y: center;
}
#password {
    background-image: url(images/\ icon\ _lock_.png);
    background-repeat: no-repeat;
    background-position-x: 0.5rem;
    background-position-y: center;
}        
#repassword {
    background-image: url(images/\ icon\ _key_.png);
    background-repeat: no-repeat;
    background-position-x: 0.5rem;
    background-position-y: center;
}
    
/* Input placeholder */
.Signup-form input::placeholder{
    font-size: 1.9rem;
    color: rgb(68, 64, 64);
}

/* Because we care */
.theme {
    background-color: #fff;
    position: fixed;
    right: 0;
    width: 4rem;
    margin-top: 0.5rem;
    border-radius: 1rem 0rem 0rem 1rem;
    background-color:#20b038;            
}
.theme p {
    writing-mode: vertical-rl;
    margin: 70% 0% 70% 0%;
    rotate: 180deg;
    text-align: center;
    padding: 2px 0px 2px 0px;
    color: white;
    font-weight: bold;
    font-size: 1.8rem; 
    font-family: 'Kadwa',serif;               
}
       
/* login & emergency button */
.options {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Kadwa',serif;
    font-size: 3rem;
    margin-left: 2rem;
    font-weight: bold;
}

    /*chatbox */
.chatbox img {
    margin: 0.5rem;
    width: 4.5rem;
    margin-right: 0.5rem;
    position: fixed;
    bottom: 0;
    right: 0;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;    
}

a {
    text-decoration: none;
    color: black;
}
