
/* Setting default font to website */

body {
    font-family: 'Kadwa', Calibri, serif;
    margin: 0px;
    width: 100%;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    display: block;
    background-color: white;
    /* background-image: url(images/beautiful-view-greenery-bridge-forest-perfect-background_181624-17827.avif);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover; */
    

    
}

button {
    border: none;
}

button:hover {
    cursor: pointer;    
}

a {
    text-decoration: none;
    color: black;
}

abbr{
    text-decoration: none;
}

ul {
    list-style-type: none;
  }

/* Adding style to navbar */

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/* navbar styling */
header{
    position: relative;
}
    /* navbar basic styling */

    #navbar{
        width: 100%;
        padding: 0 2% 0 0.5%;
        height: 4rem;
        background-color: white;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        transition: 0.3s;
        position: fixed;
        top: 0;
        box-shadow: 0px 4px 4px;
        z-index: 10;
    }

    #logo img {
        
        transition: 0.3s;

    }

    #logo1 {
        margin-top: 1rem;
        height: 4.5rem;
    }

    .right-header{
        display: flex;
        gap: 0.9rem;
        justify-content: space-between;
        align-items: center;
        margin-right: 1rem;
        
        
    }

    .links {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        font-weight: bold;
        font-size: 1.25rem;
        text-shadow: 2px 2px 1px rgb(194, 183, 183);

    }
        /* hover effect on big screens */
        .links a:hover{
            background-color: #e85a4f;
            padding: 0.5rem;
            color: white;
            border-radius: 0.7rem;
            text-shadow: 2px 2px 1px rgb(199, 198, 198);

        }


    /* Language change style */
    .right-header-element select {
        border-radius: 0.5rem;
        padding: 3px 9px 3px 9px;
        box-shadow: 2px 2px 1px black;
        border: none;
        background-color: lightgrey;
        text-shadow: inherit;
    }

    .pic {
        height: 2rem;
        border-radius: 1.25rem;
        border-width: 0.125rem;
        border-style: solid;
        border-color: rgb(129, 129, 191);
    }

    .toggle_btn {
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }

    /* Drop down list style which is visible on mobile */
    .dropdown_menu {
        display: none;
        position: fixed;
        right: 1.5rem;
        top: 4.5rem;
        width: 200px;
        height: 0px;
        padding: 0.5rem;
        
        border-radius: 10px;
        transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        overflow: hidden;
        z-index: 10;
    }   

        .dropdown_menu li{
            padding: 0.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.5vh;

        }  

        .dropdown_menu.open {
            height: fit-content;
            background-color: #2c2e71;
            background: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(5px);
        }

        

        .dropdown_menu li{
            position: relative;
            color: #3d4347;
        }

        /* Hover effect on drop down list */
        .dropdown_menu li:hover {
            font-size: 200%;
        }

        .dropdown_menu li:after {
            content: '';
            position: absolute;
            width: 20%;
            margin: 0 40% 4% 40%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #535759;
            transform-origin: bottom right;
            transition: transform 0.3s ease-out;
        }
        
        .dropdown_menu li:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }


    /* media query to make nav bar responsive */
    @media (max-width:850px) {
        #navbar .links,
        #navbar .language {
            display: none;
        }

        #navbar .toggle_btn {
            display: block;
        }

        .dropdown_menu {
            display: block;
        }

        .dropdown_menu a {
            color: white;
        }
    }

    @media (max-width:500px){
        .dropdown_menu {
            width: 90%;
            right: 2.5%;
            
        } 
    }
    

.content{
    margin-top: 4.5rem;
    background-color: white;

}
    /* Title of the page style */
    .phrase {

        width: 95%;
        height: 25vh;
        border-radius: 1rem 1rem 0 0;
        margin: 0 2.5% 0 2.5%;
        background-color: #2c2e71;


        display: flex;
        align-items: center;
        justify-content: space-evenly;

       
    }

        .title {
            color: white;
            font-size: 5vh;
            font-weight: bold;
            line-height: 6vh;
            text-align: center;
            z-index: 2;
        }

        /* triangles styling */

        .triangle1 {
            position:absolute;
            width: 0;
            height: 0;
            left: 5vw;
            top: 1vw;
            border-left: 12.5vw solid transparent;
            border-right: 0.0625vw solid transparent;
            border-bottom: 7.5vw solid #25286c;
            rotate: -5deg;
            z-index: 1;
        
        }

        .triangle2 {
            position:absolute;
            width: 0;
            height: 0;
            left: 10vw;
            top: 3vw;
            border-left: 31.25vw solid transparent;
            border-right: 0.0625vw solid transparent;
            border-bottom: 7.5vw solid #25286c;
            rotate: -5deg;
            z-index: 1;
        
        }

        .triangle3 {
            position:absolute;
            width: 0;
            height: 0;
            left: 58vw;
            top: 2vw;
            border-left: 18.75vw solid transparent;
            border-right: 0.0625vw solid transparent;
            border-bottom: 9.375vw solid #25286c;
            rotate: -6deg;
            z-index: 1;
        
        }

        /* triangles responsiveness */

        @media screen and (max-width:950px) {
            .triangle1 {
                left: 4vw;
                top: 7vw;
            }
        
            .triangle2 {
                left: 10vw;
                top: 13vw;
            }
        
            .triangle3 {
                left: 58vw;
                top: 9vw;
            }
        }
        
        @media screen and (max-width:650px) {
            .triangle1 {
                left: 5vw;
                top: 7vw;
            }
        
            .triangle2 {
                left: 10vw;
                top: 16vw;
            }
        
            .triangle3 {
                left: 58vw;
                top: 13vw;
            }
        }
        
        @media screen and (max-width:350px) {
            .triangle1 {
                left: 5vw;
                top:7vw;
            }
        
            .triangle2 {
                left: 10vw;
                top: 13vw;
            }
        
            .triangle3 {
                left: 58vw;
                top: 19vw;
            }
        }

    /* About section style */
    .about-section{
        background-color: #e7e8f1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
    }
        /* heading style */
        .about-section h1 {
            color: #2c2e71;
            font-size: 5vh;
            font-weight: bold;

        }
        
        /* paragraph style */
        .about-section p {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        /* paragraph style */
        .about-p1{
            color: #2c2e71;
            font-size: 3.5vh;
            line-height: 4vh;
            margin: 0;
            width: 95%;
        }

        /* paragraph style */
        .about-p2 {
            color: #97989e;
            font-size: 2.8vh;
            line-height: 3.75vh;
            width: 95%;
        }

    .story-section{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%

    }
        /* heading style */
        .story-section h1{
            color: #0b063e;
            font-size: 5vh;
            font-weight: bold;
        }

        .path{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1%;
        }

        .story-content{
            width: 40vw; 
            height: max-content; 
            border-style: solid; 
            border-radius: 2rem; 
            padding: 0.5rem;
            padding-top: 0;
            text-align: center;

        }

        /* paragraph style */
        .story-content p{
            font-size: 1.7vh;
            line-height: 2.5vh;

            
        }

    .why-us{
        background-color: #0b063e;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
    }

        /* heading style */
        .why-us h1 {
            color: #fff;
            font-size: 5vh;
            font-weight: bold;
        }

        /* paragraph style */
        .why-us p {

            display: flex;
            justify-content: center;

            text-align: center;
            color: #605d82;
            font-size: 2.8vh;
            line-height: 3.75vh;
            margin: 0;
        }


    .meet-team {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 0.5rem;
        padding: 1rem;
    }

        /* heading style */
        .meet-team h1 {
            color: #0b063e;
            font-size: 5vh;
            line-height: 5.5vh;
            font-weight: bold;


        }

        .meet-team p, h1 {

            display: flex;
            justify-content: center;

            text-align: center;
        }

        /* paragraph style */
        .meet-team-p {
            color: #605d82;
            font-size: 2.8vh;
            line-height: 3.75vh;
            margin: 0;
        }

        /* social media profile styling */
        .linked-section{
            display: flex;
            padding: 1.5vh;
            overflow: auto;



        }
            /* individual social media profile styling */

            .profile {
                background-color: #d9d9d9;
                margin: 1vw;
                padding: 2.5vw;
                display: flex;
                flex-direction: column;
                justify-content: center;        
                align-items: center;
                border-radius: 0.5rem;


            }

                .profile-pic img {
                    width: 15vw;
                    border-radius: 0.5rem;
                }
                
                .username{
                    font-size: 2.5vw;
                }
        
                .social-handles {
                    display: flex;
                    justify-content: space-between;
                    margin-left: -1rem;
        
                }
    
                    .social-handles img {
                        
                        align-items: center;
                        width: 4vw;
                        margin-left: 1rem;
                    }


        /* adding Shine effect on social media profile pic*/
            .hover1 figure {
                position: relative;
            }
            .hover1 figure::before {
                position: absolute;
                top: 0;
                left: -75%;
                z-index: 2;
                display: block;
                content: '';
                width: 50%;
                height: 93.5%;
                background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 100%);
                background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 100%);
                -webkit-transform: skewX(-25deg);
                transform: skewX(-25deg);
            }


            .hover1 figure:hover::before {
                -webkit-animation: shine 1.5s;
                animation: shine 1.5s;
            }

            @-webkit-keyframes shine {
                100% {
                    left: 125%;
                }
            }
            @keyframes shine {
                100% {
                    left: 125%;
                }
            }



        
    .achievements{
        display: flex;
        flex-direction: column; 
    }

        .achieved{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            margin-bottom: 1rem;
        }

            .achieved .badges{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                line-height: 1rem;

            }

                /* paragraph style */
                .badges p {
                    margin: 0;
                    padding: 0;
                    line-height: 1rem;
                    font-size: 2.5vw;
                }

                /* heading style */
                .badges h2 {
                    color: black;
                    font-size: 3vw;
                }


                .badges img {
                    width: 5vw;
                }

                

        .download-app{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.2vw;
            margin-top: 1em;
        }

        .download-app p, input, button{
            margin-left: 1.5rem;

        }

        .download-app input {
            background-color: #d9d9d9;
            border: none;
            height:3vw;
            width: 23vw;
            padding: 0.5rem;
            border-radius: 0.2rem;


            /* border-color: #0b063e; */
        }

        .download-app input::placeholder{
            font-size: 2.4vh;
            text-align: center;

        }

        .download-app button{
            margin-left: 4vw;
            margin-right: 1vw;
            height: 5vh;
            background-color: #182942;
            font-size: 2.4vh;
            color: white;
            padding: 0.5vh 1vh 0.5vh 1vh;
            border-radius: 0.3rem;
        }

        
        
        
        
        /* Box animation that is used in social media profile and icons */
        .box{
            transition: 0.7s;
        
            }
        .box:hover{
            transform: scale(1.05);
            z-index: 2;
            box-shadow: 2px 2px 2px #000;
            
        }


/* Footer style */
.footer{
    background-image: linear-gradient(#0f2831, #37414c, #5361a6);
    color: white;
    margin-bottom: -15px;
    
}


    h2{
        font-size: 2vw;
    }

    ul {
        font-size: 1.5vw;
    }

    .footer-options {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 0;
        
    }

    .footer-options div {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .apk{
        display: flex;
        justify-content: center;
    }

    .social-contact {
        width: 3.5vw; 
        margin-left: 2rem;
    }

    @media (max-width:650px) {
        .social-contact {
            width: 3.5vh; 
            margin-left: 2rem;
        }
    }


    .know-us h1, ul{
        padding: 0;
        margin: 0;
    }

    /* download button style */
        .apk button{
            display: flex;
            border-radius: 0.5rem;
            padding: 0.5rem;
        }

        button span {
            font-size: 1.4vh;
            font-weight: bold;
        }

    /* making links white */
        .know-us a{
            color: white;
        }
        
        .services a{
            color: white;
        }

        .contact-us a{
            color: white;
        }


    figure { 
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    /* adding hover and animations in footer */
        .footer a:hover {
            font-size: 125%;
        }

        a{
            display: inline-block;
            position: relative;
            color: #3d4347;
        }
        
        .footer a:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #535759;
            transform-origin: bottom right;
            transition: transform 0.3s ease-out;
        }
        
        .footer a:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    


/* to remove up and down arrow in input tag */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }























